<md-card>
  <md-card-header>
    <md-card-title>{{mod.title}}</md-card-title>
    <md-card-subtitle>{{mod.name}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-input-container>
      <input mdInput [(ngModel)]="mod.name" placeholder="Mod's Name">
    </md-input-container>
    <div *ngFor="let effect of mod.effects" layout="row">
      <md-select mdInput [(ngModel)]="effect.type" placeholder="Effect Type">
        <md-option *ngFor="let type of wwdcService.modTypes" [value]="type">
          {{type}}
        </md-option>
      </md-select>
      <md-input-container>
        <input type="number" mdInput [(ngModel)]="effect.value" placeholder="Effect Value">
      </md-input-container>
    </div>
  </md-card-content>
</md-card>
